.DS_Store
._.DS_Store

*~.*
*.chk
*.bak
*.old
tmp.*

build/
xcuserdata/
research/
*.xcworkspace/
mulle-make.sublime-workspace
mulle-project/publisher-info.sh
*.build
test/05-meson-build/src/
tests/05-meson-build/src/
escape-hell/
dox/eval-echo-memo.txt

CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
cmake_install.cmake
.gitignore
.mulle-make-build-dir
var/
