.DS_Store
._.DS_Store

*~.*
*.chk
*.bak
*.old
tmp.*

build/
xcuserdata/
*.xcworkspace/
mulle-make.sublime-workspace
mulle-project/publisher-info.sh
*.build
test/05-meson-build/src/
tests/05-meson-build/src/
